<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	
	<!-- CONTROL CONSOLE-->  
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
		<layout class="ch.qos.logback.classic.PatternLayout">  
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>  
		</layout>  
	</appender>
	  
	<!-- Appender configuration for demo_debug -->
	<appender name="demo_debug"
		class="com.gy.util.logback.RollingFileAppenderG">
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c:%L - %m%n</Pattern>
		</encoder>
		<file>logs/debug/demo_debug.log</file>
    	<rollingPolicy class="com.gy.util.logback.TimeBasedRollingPolicyG">
      		<!-- rollover daily -->
      		<fileNamePattern>logs/debug/demo_debug-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      		<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        		<!-- or whenever the file size reaches 50MB -->
        		<maxFileSize>10MB</maxFileSize>
      		</timeBasedFileNamingAndTriggeringPolicy>
      		<maxHistory>1</maxHistory> 
    	</rollingPolicy>
	</appender>
	
	<!-- Appender configuration for demo_info -->
	<appender name="demo_info"
		class="com.gy.util.logback.RollingFileAppenderG">
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c:%L - %m%n</Pattern>
		</encoder>
		<file>logs/info/demo_info.log</file>
    	<rollingPolicy class="com.gy.util.logback.TimeBasedRollingPolicyG">
      		<!-- rollover daily -->
      		<fileNamePattern>logs/debug/demo_info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      		<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        		<!-- or whenever the file size reaches 50MB -->
        		<maxFileSize>10MB</maxFileSize>
      		</timeBasedFileNamingAndTriggeringPolicy>
      		<maxHistory>1</maxHistory> 
    	</rollingPolicy>
	</appender>
	
	<!-- Appender configuration for demo_error -->
	<appender name="demo_error"
		class="com.gy.util.logback.RollingFileAppenderG">
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c:%L - %m%n</Pattern>
		</encoder>
		<file>logs/error/demo_error.log</file>
    	<rollingPolicy class="com.gy.util.logback.TimeBasedRollingPolicyG">
      		<!-- rollover daily -->
      		<fileNamePattern>logs/debug/demo_error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      		<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        		<!-- or whenever the file size reaches 50MB -->
        		<maxFileSize>10MB</maxFileSize>
      		</timeBasedFileNamingAndTriggeringPolicy>
      		<maxHistory>1</maxHistory> 
    	</rollingPolicy>
	</appender>
	
	<logger name="com.demo">
		<appender-ref ref="demo_debug" />
	</logger>
	
	<logger name="com.demo">
		<appender-ref ref="demo_info" />
	</logger>
	
	<logger name="com.demo">
		<appender-ref ref="demo_error" />
	</logger>
	
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
